version: 2
jobs:
  build:
    branches:
      only:
        - master
    docker:
      - image: felicianotech/docker-hugo:latest
    steps:
      - checkout
      - run:
          name: Deploy
          command: ./scripts/deploy.sh