version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.9
    steps:
      - checkout
      - run:
          name: install hugo
          command: go get github.com/gohugoio/hugo
      - run:
          name: Deploy
          command: ./scripts/deploy.sh
      - run:
          name: Print the Current Time
          command: date