version: 2
jobs:
  docker:
    - image: circleci/golang:1.9
  steps:
    - run:
        command: |
          git submodule sync
          git submodule update --init
          go get github.com/gohugoio/hugo
          ./scripts/deploy.sh
